<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver form</title>
</head>
<body>
    <h1>Create Driver</h1>
    <form method="POST">
        {% csrf_token %}
        name{{form.name}}
        <br/>
        number{{form.number}}
        <br/>
        nationality{{form.nationality}}
        <br/>
        dob {{form.dob}}
        <br/>
        comments {{form.comments}}
        <br/>
        <button type="submit">Submit</button>
    </form>

</body>
</html>