{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drivers</title>
</head>
<body>
    <h1>Drivers</h1>

    <a href="{% url 'drivers:create_drivers' %}">Create Driver</a>
    
    <br/>
    <br/>
    <h2>List of drivers</h2>
    <p>
        {% for driver in drivers %}
            <a href= "{% url 'drivers:drivers_details' driver.id %}">{{driver.name}}</a>
            <a href="{% url 'drivers:update_drivers' driver.id%}">Update Driver</a>
            <a href="{% url 'drivers:delete_drivers' driver.id%}">Delete Driver</a>
            <!--
            {{driver.number}}
            {{driver.nationality}}
            {{driver.dob}}
            {{driver.comments}}
            -->
            <br/>
            <br/>
        {% endfor %}
    </p>
</body>
</html>

{% endblock content %}